{% extends "layout/base.html.twig" %}
{% block title %}
    contact
{% endblock title %}

{% block body %}
    <main class="m-5 d-flex justify-content-center align-item-center">
        <div class="d-flex flex-column">

            <div class="d-flex justify-content-center text-center">
                <div class="m-3">
                    <h3>Numéro</h3>
                    <p>+33 6 75 49 39 29</p>
                </div>
                <div class="m-3">
                    <h3>Email</h3>
                    <p>garageparrot@gmail.com</p>
                </div>
            </div>
            <div>
                <div class="text-centers">
                    <h3>
                        address
                    </h3>
                    <p>
    
                        53 rue D'orge, 12324 Riyad
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}